# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IPython runtime & caches
ipython/.ipython/profile_default/history.sqlite
ipython/.ipython/profile_default/db/
ipython/.ipython/profile_default/log/
ipython/.ipython/profile_default/security/
ipython/.ipython/profile_default/pid/

